* {
  margin: 0;
  padding: 0;
}
body {
  overflow: hidden;
}
.map-container {
  height: 100vh;
  width: 100%;
}

/* map css */

.marker {
  display: block;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  padding: 0;
}
